<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.teds.zsaxmobilepc"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>ZSA X PC</name>

  <description>
      Zombie Shooter Arcade X Mobile without Mobile UI (Keyboard and Mouse)
  </description>

  <author href="https://teamtedps.tk" email="support@phonegap.com">
      DovydasTEDS
  </author>

  <icon src="icon.png" />
  
</widget>
